@import url('./Matieres.scss');
@import url('./HomeDisconnect.scss');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
$rose: #d83f87;
$violet: #2a1b3d;
$bleu: #3731a5;
$orange: #eea9a1;
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
* {
    z-index: 98;
    font-family: 'Arvo', serif;
}

svg {
    z-index: 1;
}

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
.chargement {
    background-color: $orange;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.notfound {
    height: 90vh;
    width: 100vw;
    @include flexCenter();
    background-color: $orange;
    color: white;
    text-align: center;
    font-size: 2.5vw;
}
.App {
    background-color: $orange;
    height: 100vh;
    width: 100vw;
}
.navbar {
    background-color: $violet;
    border-bottom: 10px solid white;
    color: white;
    z-index: 99;
    a {
        color: white;
        margin: 0;
        padding: 0;
        margin: 5px;
    }
    .brandNav {
        @include flexCenter();
        img {
            height: 50px;
        }
        hr {
            width: 2px;
            height: 25px;
            background-color: rgb(255, 255, 255);
            margin-right: 20px;
        }
    }
}
.Connect {
    @include flexCenter();
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    height: 30%;
    width: 50%;
    h2 {
        color: rgb(0, 0, 0);
        font-size: 25px;
        font-weight: bold;
    }
    button {
        width: 50%;
        margin: 10px;
        border: none;
        cursor: pointer;
        border: 1px solid $orange;
        padding: 10px;
        img {
            height: 50px;
            width: 50px;
        }
    }
}
.CreateCourse {
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    div {
        @include flexCenter();
        width: 100%;
        height: 100%;
        .userInfo {
            width: 300px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            background-color: $violet;
            border-bottom-right-radius: 12px;
            border: 1px solid white;
            border-left: none;
            border-top: none;
            img {
                height: 80%;
                border-radius: 50%;
                border: 2px solid white;
            }
            div {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-left: 3px;
                color: white;
                p {
                    margin: 0;
                    font-style: italic;
                    span {
                        font-weight: bold;
                        font-style: normal;
                    }
                }
            }
        }
        .welcome {
            @include flexCenter();
            width: 85%;
            color: white;
            h2 {
                font-family: 'Permanent Marker', cursive;
                text-align: center;
            }
        }
    }
}
.btnCreate {
    height: 70%;
    width: 100%;
    @include flexCenter();
    button {
        padding: 25px;
        border: none;
        border-radius: 5px;
        z-index: 2;
        &:hover {
            background-color: rgb(255, 244, 244);
        }
    }
}
.formNote {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    .enregistrer {
        background-color: rgb(34, 169, 34);
        color: white;
        font-weight: bold;
        border: none;
        padding: 5px;
        cursor: pointer;
        &:hover {
            background-color: rgb(11, 116, 11);
        }
    }
    .editorParent {
        .Editor {
            width: 100%;
        }
    }
}
.divTitleCourse {
    display: flex;
    justify-content: space-between;
    height: 15vh;
    background-color: rgb(75, 75, 75);
    color: white;
    h3 {
        margin: 0;
        font-size: 2vw;
    }
    .flecheGauche {
        height: 100%;
        width: 2%;
        display: block;
        img {
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
    }
    .titleDate {
        width: 97%;
        height: 100%;
        flex-direction: column;
        @include flexCenter();
    }
}
#modalForm {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    &:empty {
        display: none;
    }
    div {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 35px;
        button {
            width: 80%;
            background-color: rgb(233, 61, 61);
            color: white;
            border: none;
            cursor: pointer;
        }
        .submitForm {
            width: 80%;
            background-color: rgb(61, 233, 61);
            border: none;
            cursor: pointer;
        }
    }
}
@media screen and (max-width: 555px) {
    .CreateCourse {
        height: 20vh;
        flex-direction: column;
        div {
            @include flexCenter();
            flex-direction: column;
            .userInfo {
                width: 250px;
                height: 60%;
                border-bottom-right-radius: 12px;
                border-bottom-left-radius: 12px;
                padding: 10px;
                img {
                    height: 55%;
                    border-radius: 50%;
                    border: 2px solid white;
                }
                div {
                    @include flexCenter();
                    p {
                        text-align: center;
                    }
                }
            }
            .welcome {
                width: 100%;
                h2 {
                    font-size: 8.5vw;
                }
            }
        }
    }
    .btnCreate {
        height: 50vh;
        width: 100%;
        @include flexCenter();
    }
    .divTitleCourse {
        h3 {
            margin: 0;
            font-size: 3.5vw;
            text-align: center;
        }
    }
}
